/* General */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}
header.index{
    text-align: center;
    background-color: black;
    padding: 1%;
}
/* General */
/* Header */
header.index nav{
    width: 80%;
    margin: auto;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    text-align: center;
    justify-content: space-around;
}
header.index nav img{
    width: calc(20% - 10px);
}
header.index nav ul{
    box-sizing: content-box;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(80% - 10px);
}
header.index nav ul a.links_nav{
    box-sizing: content-box;
    width: calc(10% - 2px);
    font-size: 20px;
    padding: 10px 0px;
    text-decoration: none;
    color: white;
}
header.index nav ul a.links_nav:hover{
    color: darkgrey;
}
header.index nav ul a.alejado{
    box-sizing: content-box;
    margin-left: 55%;
    padding: 1%;
}
header.index nav ul a.alejado li{
    padding: 5% 5%;
    width: 20%;
    margin: auto;
    box-sizing: content-box;
    border: 1px solid darkgray;
}
/* Header */
/* Index */
h1.index{
    background-color: aquamarine;
    font-size: 100px;
    text-align: center;
}
main.fondo{
    background-color: rgb(0, 0, 0);
    padding: 1%;
}
section.filtros,.contenidos{
    width: 80%;
    margin: auto;
}
.filtros{
    background-color: beige;
    text-align: center;
    display: flex;
}
.filtros h3{
    width: calc(50% - 15px);
}
.contenidos{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}
.contenidos a{
    object-fit: cover;
    box-sizing: border-box;
    width: calc(15% - 20px);
    text-align: center;
    margin: 0;
    text-decoration: none;
}
.contenidos a:visited{
    color:white;
}
.contenidos a:hover{
    color: red;
}
.contenidos a p{
    
    font-weight: bold;
    word-wrap: break-word;
    width: fit-content;
    margin: auto;
}
.contenidos h2{
    width: 100%;
    padding: 25px 0px 15px 10px;
    color: white;
}
.contenidos a img{
    width: 100%;
    border-radius: 5%;
}
/* Index */
/* Login */

body.login{
    background-image: url(../img/loginsSreen.jpg);
    background-color: rgba(0,0,0,.55);
    background-blend-mode: soft-light;
    display: grid;
    grid-template-rows: 82px 660px 335px;
}
h1.login{
    color: white;
    font-size: 32px;
    margin: 0px 0px 28px;
}
div.login_ingreso_de_datos{
    background-color: rgba(0,0,0,.75);
    border-radius: 8px;
    width: 450px;
    height: 660px;
    margin: auto;

}
section.login_distribucion{
    display: grid; 
    width: 314px;
    height: 550px;
}
article.login_form{
    margin-top: 60px;
    color: black;
    background-color:rgba(0, 0, 0, 0);
}
input.input_login{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: calc(100% - 20px);
    outline: none;
    border: 0px;
    padding: 24px 0px 8px 20px;
    border-radius: 3px;
    font-size: medium;
    margin-bottom: 16px;
}
label.label_login{
    font-size: 11px;
    position: absolute;
    margin: 8px 0px 0px 20px;
}
article.login_suscripcion{
    color: #737373;
    font-size: small;
}
button.iniciar_sesion_login{
    font-size:14px;
    font-weight: bold;
    color: aliceblue;
    background-color: #e50914;
    margin-top: 24px;
    margin-bottom: 12px;
    border: 0px;
    width: 100%;
    padding: 16px 0px;
    border-radius: 3px;
}
img.viculo_facebook{
    width: 20px;
}

/* Login */
/* Password */


