/* Series */
body.serie{
    background-color: black;
}
main.fondo_serie{
    width: 80%;
    margin: auto;
    color: white;
    background-color: rgb(15, 15, 15);
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: rgb(92, 91, 91) 10px 10px 25px;
    box-sizing: border-box;
    padding-bottom: 1em;
    border-radius: 1em;
}
main.fondo_serie .imagen button{
    max-width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 20%;
    left: 10%;
    max-width: 6em;
    max-height: 3em;
    border: none;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
    background-color: red;
    color: white;
    text-align: center;
    padding: 0.2em;
}
main.fondo_serie .imagen button i{
    box-sizing: border-box;
    max-width: calc(20% - 1em);
    align-self: center;
    text-align: center;
    margin: 0.2em;
}
main.fondo_serie .imagen button p{
    max-width: calc(80% - 0em);
    word-wrap: break-word;
    text-align: center;
    font-weight: bold;
    align-self: center;
}
section.descripcion,.similares{
    width: 90%;
    margin: auto;
}
section.descripcion{
    box-sizing: border-box;
    margin-top: 1em;
    /* background-color: darkgrey; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
}
section.descripcion article.sinopsis{
    max-width: 100%;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    text-align: justify;
    padding: 0.5em;
}
section.descripcion article.sinopsis h3{
    word-wrap: break-word;
    max-width: 100%;
    margin-bottom: 0.5em;
    font-size: 45px;
    padding: 0.2em;
    box-shadow: -4px 4px 5px red;
}
section.descripcion article.sinopsis p{
    font-size: 1.5em;
}
section.descripcion article.info{
    /* background-color: blue; */
    font-size: 1em;
    max-width: 100%;
    box-sizing: border-box;
    text-align: justify;
    padding: 0.5em;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; */
}
section.descripcion article.info h4{
    box-sizing: border-box;
    max-width: 25%;
    margin-bottom: 0.5em;
    /* text-align: right; */
}
section.descripcion article.info h5{
    max-width: 100%;
    margin-bottom: 0.5em;
}
section.descripcion article.info h5 a{
    text-decoration: none;
    color: white;
}
section.descripcion article.video{
    /* background-color: green; */
    box-sizing: border-box;
    padding: 0.6em;
    /* display: flex;
    justify-content: center; */
}
section.descripcion article.video iframe{
    max-width: 100%;
}
section.similares{
    box-sizing: border-box;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: bisque; */
}
main h2{
    margin: 1em auto;
    box-sizing: border-box;
    font-size: 4em;
    max-width: 80%;
    text-align: center;
    word-wrap: break-word;
    text-shadow: 0.05em 0.05em blue;
}
section.similares a{
    box-sizing: border-box;
    width: calc(50% - 2em);
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    object-fit: cover;
    text-decoration: none;
    color: white;
}
section.similares a article img{
    border-radius: 5%;
    max-width: 100%;
    margin: auto;
}
section.similares a article{
    margin-bottom: 1em;
    padding: 0.5em;
}
section.similares a article p{
    font-size: 2em;
    text-shadow: 0.05em 0.05em red;
}
article.selectores #capitulos_temp1,#capitulos_temp2,#capitulos_temp3,#capitulos_temp4,#capitulos_temp5,#capitulos_temp6{
    display: none;
}
article.selectores{
    margin: auto;
    /* background-color: red; */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    text-align: center;
}
article.selectores label{
    display: none;
    /* box-sizing: border-box;
    max-width: 100%;
    font-weight: bold;
    font-size: 2em;
    margin: 0.5em auto; */
}
article.selectores select{
    box-sizing: border-box;
    width: 100%; 
    margin: 0.5em auto;
    text-align: center;
    word-wrap: break-word;
    border: none;
    text-decoration: none;
    background-color: rgb(15, 15, 15);
    color: white;
    font-weight: bold;
    font-size: 2em;
}
/* Series */
/* Game of Thrones */
main.fondo_serie .got{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/got_portada.jpg);
    max-width: 100%;
    height: 300px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* Game of Thrones */
/* Halo */
main.fondo_serie .halo{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_halo.jpg);
    max-width: 100%;
    height: 300px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* Halo */
/* What if */
main.fondo_serie .whatif{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_whatif.jpg);
    max-width: 100%;
    height: 300px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* What if */
/* Peaky Blinders  */
main.fondo_serie .peaky{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_peaky.jpg);
    max-width: 100%;
    height: 300px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* Peaky Blinders */
/* The Witcher */
main.fondo_serie .witcher{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_witcher.jpg);
    max-width: 100%;
    height: 300px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* The Witcher */
/* The Walking Dead */
main.fondo_serie .twd{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_twd.jpeg);
    max-width: 100%;
    height: 300px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* The Walknig Dead */
@media screen and (min-width: 47em){
    main.fondo_serie .imagen{
        height: 400px;
    }
    section.similares a{
        width: calc(33.3% - 2em);
    }
    section.descripcion article.info{
        margin: auto;
        font-size: 1.5em;
    }
    section.descripcion article.video{
        margin: auto;
    }
}
@media screen and (min-width: 60em){
    main.fondo_serie .imagen{
        height: 500px;
    }
    body.serie{
        background-color: black;
    }
    main.fondo_serie{
        width: 55%;
    }
    section.descripcion article.info{
        margin: auto;
        font-size: 1.5em;
    }
    section.descripcion article.video{
        margin: auto;
    }
    main.fondo_serie .imagen button i{
        width: calc(20% - 1em);
    }
    main.fondo_serie .imagen button p{
        width: calc(80% - 0em);
        text-align: center;
        font-weight: bold;
    }
    main.fondo_serie .imagen button:hover{
        cursor: pointer;
        text-shadow: 2px 2px black;
    }
    section.descripcion article{
        width: calc(50% - 2em);
        margin-bottom: 0.3em;
    }
    section.descripcion article.video{
        /* background-color: green; */
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    section.descripcion article.sinopsis{
        /* background-color: red; */
        box-sizing: border-box;
        text-align: justify;
        padding: 1%;
    }
    section.descripcion article.sinopsis h3{
        margin-bottom: 1em;
        font-size: 35px;
        padding: 0.3em;
        box-shadow: -4px 4px 5px red;
    }
    section.descripcion article.info{
        /* background-color: blue; */
        box-sizing: border-box;
        text-align: justify;
        padding: 0.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    section.descripcion article.info h4{
        box-sizing: border-box;
        width: 25%;
        text-align: right;
    }
    section.descripcion article.info h5{
        width: 100%;
    }
    section.descripcion article.info h5 a{
        text-decoration: none;
        color: white;
    }
    section.descripcion article.info h5 a:hover{
        color: red;
    }
    article.selectores{
            /* margin: auto; */
    margin: 0 0;
    /* background-color: red; */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    text-align: center;
    }
    article.selectores select{
        max-width: 100%;
        margin: auto;
    }
    section.similares{
        box-sizing: border-box;
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        /* background-color: bisque; */
    }
    /* main h2{
        width: 100%;
        padding: 15px 0px 10px 40px;
        margin-bottom: 1%;
    } */
    section.similares a{
        box-sizing: border-box;
        width: calc(33.3% - 3em);
        text-align: center;
        font-weight: bold;
        margin-bottom: 2%;
        object-fit: cover;
        text-decoration: none;
        color: white;
    }
    section.similares a article p{
        text-shadow: none;
    }
    section.similares a article img{
        border-radius: 5%;
        width: 100%;
    }
    section.similares a article:hover{
        color:red;
        cursor: pointer;
    }
}