/* General */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  font-size: 70%;
}
/* General */
/* Header */
header.index nav {
  box-sizing: border-box;
  width: 90%;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
  justify-content: flex-end;
}
header.index nav a {
  box-sizing: border-box;
  padding: 0.5em;
  width: calc(33.3% - 0em);
  text-align: center;
}
header.index nav a img {
  max-width: 100%;
}
/* header.index nav ul .alejado{
    display: none;
} */
header.index nav .fa-bars {
  color: white;
  font-size: 3em;
  width: calc(33.3% - 0px);
  padding: 0.2em;
}
header.index nav ul {
  display: none;
  width: 100%;
  list-style: none;
  text-align: center;
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em; */
}
header.index nav ul a {
  text-shadow: 0.05em 0.05em rgb(236, 24, 24);
  display: inline-block;
  width: 100%;
  box-sizing: content-box;
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  color: white;
}
/* header.index nav ul a li{
    padding: 0.5em;
} */
/* header.index nav ul .home{
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
header.index nav ul .series{
    background-color: blue;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
header.index nav ul .peliculas{
    background-color: green;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
} */
/* header.index nav ul a.links_nav:hover{
    color: darkgrey;
} */
/* header.index nav ul a.alejado{
    box-sizing: content-box;
    margin-left: 55%;
    padding: 1%;
} */
/* header.index nav ul a.alejado li{
    padding: 5% 5%;
    width: 20%;
    margin: auto;
    box-sizing: content-box;
    border: 1px solid darkgray;
} */
/* Header */
main.fondo {
  background-color: rgb(0, 0, 0);
  padding: 1em;
}
section.filtros,
.contenidos {
  max-width: 80%;
  margin: auto;
}
section.filtros {
  text-align: center;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
}
section.filtros .filtro_genero {
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
  padding: 0.5em;
}
.filtros .filtro_genero select {
  max-width: 100%;
  font-size: 20px;
  /* word-wrap: break-word; */
  color: white;
  background-color: black;
  font-weight: bold;
  text-align: center;
}
.filtros .filtro_busqueda {
  /* display: flex;
    flex-wrap: wrap; */
  font-size: 20px;
  padding: 0.5em;
}
.filtros .filtro_busqueda label {
  display: none;
}
.filtros .filtro_busqueda input {
  width: calc(80% - 0.5em);
}
.filtros .filtro_busqueda i {
  display: none;
  /* width: calc(20% - 0.5em);
    text-align: center;
    align-self: center;
    padding-top: 0.3em; */
}
.filtros .filtro_busqueda input,
i {
  max-width: 90%;
  display: inline-block;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 0.2em;
}
.filtros .filtro_busqueda input {
  color: black;
}
section.contenidos {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
}
section.contenidos h2.resultados {
  display: none;
}
section.contenidos h2 {
  word-wrap: break-word;
  box-sizing: border-box;
  text-align: center;
  font-size: 3em;
  width: 100%;
  color: white;
  padding: 1em 1em 1.5em 1em;
  text-shadow: 0.05em 0.05em rgb(102, 100, 100);
}
section.contenidos a {
  /* object-fit: cover; */
  display: inline-block;
  margin-bottom: 1em;
  box-sizing: border-box;
  width: calc(50% - 1em);
  text-align: center;
  text-decoration: none;
  color: white;
}
/* .contenidos a:hover{
    color: red;
} */
.contenidos a p {
  font-size: 1.5em;
  font-weight: bold;
  word-wrap: break-word;
  width: fit-content;
  margin: auto;
}
.contenidos a img {
  max-width: 100%;
  border-radius: 5%;
  margin-bottom: 0.5em;
  max-height: 300px;
}
section.contenidos .home{
    display: none;
}
.footer_index {
  background-color: darkgray;
  max-width: 100%;
  font-size: 15px;
}
ul.informacion_footer {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}
ul.informacion_footer li {
  text-decoration: none;
  text-align: center;
  color: #737373;
  font-size: 15px;
  font-weight: bold;
  margin: 0.5em;
  width: calc(33.3% - 1em);
}
ul.informacion_footer li a {
  text-decoration: none;
  color: #737373;
}
ul.informacion_footer li a:hover {
  color: black;
}
p.numero_servicio {
  font-size: 25px;
  padding-top: 0.5em;
  margin: auto;
  width: 50%;
  color: #737373;
  margin-bottom: 1em;
  font-weight: bold;
}
p.numero_servicio:hover {
  color: black;
  cursor: pointer;
}
@media screen and (min-width: 47em) {
  section.contenidos {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
  }

  section.contenidos a {
    /* object-fit: cover; */
    display: inline-block;
    margin-bottom: 1em;
    box-sizing: border-box;
    width: calc(33.3% - 1em);
    text-align: center;
    text-decoration: none;
    color: white;
  }
}
@media screen and (min-width: 60em) {
  header.index {
    text-align: center;
    background-color: black;
    padding: 1em;
  }
  /* Header */
  header.index nav {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    text-align: center;
    justify-content: space-around;
  }
  header.index nav a {
    width: calc(40% - 0em);
  }
  header.index nav a img {
    max-width: 100%;
  }
  header.index a.burguer_icon {
    display: none;
  }
  header.index nav ul {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(60% - 0em);
  }
  header.index nav ul a.links_nav {
    box-sizing: border-box;
    width: calc(25% - 0em);
    font-size: 25px;
    padding: 1em 0em;
    text-decoration: none;
    color: white;
    text-shadow: none;
    align-self: center;
  }
  header.index nav ul a.links_nav:hover {
    color: darkgrey;
  }
  header.index nav ul a.links_nav li {
    box-sizing: border-box;
    display: inline-block;
    word-wrap: break-word;
    padding: 0.5em 0em;
  }
  header.index nav ul a.alejado {
    box-sizing: border-box;
    margin-left: 0em;
    padding: 1em;
  }
  header.index nav ul a.alejado li {
    padding: 0.3em 0.3em;
    margin: auto;
    box-sizing: border-box;
    border: 0.1em solid darkgray;
  }
  /* Header */
  /* Index */
  main.fondo {
    background-color: rgb(0, 0, 0);
    padding: 1%;
  }
  .filtros {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    font-weight: bold;
  }
  .filtros article {
    width: calc(50% - 2em);
  }
  .filtros .filtro_genero {
    font-size: 20px;
    box-sizing: border-box;
    text-align: left;
    padding: 1em;
    align-self: center;
  }
  .filtros .filtro_genero select {
    font-size: 20px;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
    padding: 0.2em;
  }
  .filtros .filtro_busqueda {
    font-size: 20px;
    box-sizing: content-box;
    text-align: right;
    padding: 1em;
    align-self: center;
    text-align: center;
  }
  .filtros .filtro_busqueda input,
  label,
  i {
    display: inline-block;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0.2em;
  }
  .filtros .filtro_busqueda input {
    color: black;
  }
  .contenidos {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
  }
  .contenidos a {
    max-width: calc(20% - 1em);
  }
  .contenidos a:hover {
    color: red;
  }
  /* Index */
  /* Login */
  header.logo_login {
    padding: 20px 0px 0px 50px;
  }
  body.login {
    background-image: url(../img/loginsSreen.jpg);
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: soft-light;
  }
  h1.login {
    color: white;
    font-size: 32px;
    margin: 0px 0px 28px;
  }
  main.login_ingreso {
    box-sizing: content-box;
    padding: 1%;
  }
  div.login_ingreso_de_datos {
    border-radius: 1%;
    background-color: rgb(0, 0, 0, 0.75);
    width: 450px;
    height: 660px;
    margin: auto;
  }
  section.login_distribucion {
    display: grid;
    width: 314px;
    height: 550px;
    margin: auto;
  }
  article.login_form {
    margin-top: 60px;
    color: black;
    background-color: rgba(0, 0, 0, 0);
  }
  input.input_login {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: calc(100% - 13px);
    outline: none;
    border: 0px;
    padding: 24px 0px 8px 13px;
    margin: 0;
    border-radius: 4px;
    font-size: medium;
    margin-bottom: 16px;
  }
  label.label_login {
    color: black;
    font-size: 11px;
    position: absolute;
    margin: 0px 0px 0px 5px;
  }
  article.login_suscripcion {
    color: #737373;
    font-size: small;
  }
  button.iniciar_sesion_login {
    font-size: 14px;
    font-weight: bold;
    color: aliceblue;
    background-color: #e50914;
    margin-top: 24px;
    margin-bottom: 12px;
    border: 0px;
    width: 100%;
    padding: 16px 0px;
    border-radius: 4px;
  }
  button.iniciar_sesion_login:hover {
    cursor: pointer;
    background-color: red;
  }
  a.vinculo_sub {
    font-size: 16px;
    text-decoration: none;
    color: white;
  }
  div.password_login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
    color: #737373;
  }
  label.recordar_pass {
    padding: 0px;
    font-size: 13px;
    color: #737373;
  }
  p.recuperar_pass {
    margin-top: 5px;
    text-align: right;
  }
  a.recuperar_pass {
    font-size: 13px;
    color: #737373;
    text-decoration: none;
  }
  input.recordar_pass {
    display: inline-block;
  }
  .footer_index {
    background-color: darkgray;
    width: 100%;
    font-size: 15px;
    padding: 1%;
  }
  ul.informacion_footer {
    margin: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
  }
  ul.informacion_footer li {
    text-decoration: none;
    color: #737373;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    width: calc(25% - 10px);
  }
  ul.informacion_footer li a {
    text-decoration: none;
    color: #737373;
  }
  ul.informacion_footer li a:hover {
    color: black;
  }
  p.numero_servicio {
    font-size: 25px;
    padding-top: 1%px;
    margin: auto;
    width: 50%;
    color: #737373;
    margin-bottom: 30px;
    font-weight: bold;
  }
  p.numero_servicio:hover {
    color: black;
    cursor: pointer;
  }
  /* Login */
  /* Password */
  body.recuperacion {
    background-image: url(../img/loginsSreen.jpg);
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: soft-light;
  }

  h1.recuperar {
    color: #333333;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 8px;
  }
  div.recuperar_ingreso_de_datos {
    border-radius: 1%;
    background-color: #f3f3f3;
    width: 450px;
    height: 660px;
    margin: auto;
  }
  div.footer_recuperar {
    margin-top: 100px;
    height: calc(100% - 90px);
    padding-left: 50px;
    padding-right: 50px;
  }
  label.label_recuperar_mail {
    color: black;
    font-size: 11px;
    position: absolute;
    margin: 0px 0px 0px 5px;
  }
  input.label_recuperar_mail {
    display: flex;
    width: calc(100% - 14px);
    outline: none;
    border: 0px;
    margin: 0;
    padding: 24px 0px 8px 12px;
    border-radius: 4px;
    border: #707070 1px solid;
    font-size: medium;
    margin-bottom: 16px;
  }
  p.recuperar {
    margin-bottom: 36px;
    color: #707070;
    font-size: 13px;
  }
  div.recuperar_datos_button {
    display: flex;
    justify-content: space-between;
  }
  button.recuperar_datos_button {
    height: 30px;
    width: 90px;
    color: #f3f3f3;
    background-color: #0080ff;
    border: none;
    box-shadow: 0 0 3px 1px rgb(136, 136, 136, 0.5);
    border-radius: 4px;
    margin-bottom: 14px;
  }
  /* Password */
  /* Perfil */
  .perfil {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-content: center;
  }
  .perfil article {
    box-sizing: content-box;
    width: calc(33.3% - 125px);
    padding: 3%;
    font-size: 150%;
  }
  .fotoperfil {
    text-align: center;
  }
  .fotoperfil img {
    width: 90%;
    border-radius: 20%;
    margin-bottom: 10%;
  }
  .fotoperfil p {
    color: white;
  }
  .perfil label {
    color: white;
  }
  .perfil input {
    margin: 4% 0% 4% 0%;
    height: 5%;
  }
  .columna0 input {
    width: 75%;
    padding-left: 5%;
  }
  .columna1 input {
    margin-left: 7%;
  }
  .columna2 {
    margin-left: 18%;
  }
  #num {
    margin-left: 18%;
  }
  #pagofacil {
    margin-left: 18%;
  }
  #rapipago {
    margin-left: 18%;
  }
  .tresdigitos {
    width: 17%;
  }
  .botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    padding: 1%;
  }
  .botones a {
    box-sizing: content-box;
    width: calc(50% - 20px);
    text-align: center;
    padding: 1%;
    border-radius: 5%;
  }
  .botones a input {
    border-radius: 5%;
    box-sizing: content-box;
    font-size: 20px;
    border: none;
    font-weight: bold;
    width: 100%;
    height: 50px;
    padding: 1%;
  }
  .verde {
    background-color: greenyellow;
  }
  .verde:hover {
    background-color: green;
    cursor: pointer;
  }
  .rojo {
    background-color: #e50914;
  }
  .rojo:hover {
    background-color: rgb(119, 0, 0);
    cursor: pointer;
  }
  /* Perfil */
  /* Registro */
  body.background_registro {
    background-image: url(../img/loginsSreen.jpg);
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: soft-light;
  }
  header.logo_registro {
    padding: 1%;
    text-align: center;
  }
  section.primer_registro {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: auto;
  }
  section.primer_registro span {
    width: 100%;
    margin: auto;
    margin-bottom: 1%;
  }
  section.primer_registro span h2 {
    width: 50%;
    margin: auto;
    font-size: 40px;
    text-align: center;
    padding: 1%;
    border: 5px dotted white;
  }
  section.primer_registro article {
    width: calc(50% - 100px);
    text-align: left;
  }
  .columna_datos {
    padding: 3%;
    text-align: left;
  }
  .columna_datos label,
  input {
    font-size: 15px;
    margin: 3%;
  }
  .columna_metodo {
    padding: 3%;
    text-align: left;
  }
  .columna_metodo label,
  input {
    font-size: 20px;
  }
  .columna_metodo p {
    font-size: 25px;
    margin-bottom: 1%;
  }
  .registro article {
    width: 40%;
    padding: 4%;
    font-size: 140%;
  }
  .registro input {
    margin: 3% 0% 3% 0%;
    height: 6%;
  }
  /*Registro*/
}
