/* Series */
body.serie{
    background-color: black;
}
main.fondo_serie{
    width: 50%;
    margin: auto;
    color: white;
    background-color: rgb(15, 15, 15);
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: rgb(92, 91, 91) 10px 10px 25px;
    box-sizing: content-box;
    padding-bottom: 1%;
    border-radius: 1%;
    
}
main.fondo_serie .imagen button{
    box-sizing: content-box;
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 25%;
    height: 10%;
    border: none;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    font-size: 25px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 1%;
}
main.fondo_serie .imagen button i{
    margin: 6% 1%;
    width: calc(10% - 0px);
}
main.fondo_serie .imagen button p{
    margin: 5% 1%;
    width: calc(50% - 0px);
    text-align: left;
    font-weight: bold;
}
main.fondo_serie .imagen button:hover{
    cursor: pointer;
    text-shadow: 2px 2px black;
}
section.descripcion,.similares{
    width: 90%;
    margin: auto;
}
section.descripcion{
    box-sizing: content-box;
    margin-top: 15px;
    /* background-color: darkgrey; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
section.descripcion article{
    width: calc(50% - 30px);
    margin-bottom: 5px;
}
section.descripcion article.video{
    /* background-color: green; */
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    justify-content: center;
}
section.descripcion article.sinopsis{
    /* background-color: red; */
    box-sizing: content-box;
    text-align: justify;
    padding: 1%;
}
section.descripcion article.sinopsis h3{
    margin-bottom: 15px;
    font-size: 35px;
    padding: 1%;
    box-shadow: -4px 4px 5px red;
}
section.descripcion article.info{
    /* background-color: blue; */
    box-sizing: content-box;
    text-align: justify;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
section.descripcion article.info h4{
    box-sizing: content-box;
    width: 50%;
    text-align: right;
}
section.descripcion article.info h5{
    width: 100%;
    padding: 1%;
}
section.descripcion article.info h5 a{
    text-decoration: none;
    color: white;
}
section.descripcion article.info h5 a:hover{
    color: red;
}
section.similares{
    box-sizing: content-box;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: bisque; */
}
section.similares h2{
    width: 100%;
    padding: 15px 0px 10px 40px;
    margin-bottom: 1%;
}
section.similares a{
    box-sizing: content-box;
    width: calc(33.3% - 50px);
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
    object-fit: cover;
    text-decoration: none;
    color: white;
}
section.similares a article img{
    border-radius: 5%;
    width: 100%;
}
section.similares a article:hover{
    color:red;
    cursor: pointer;
}
article.selectores{
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 1%;
    text-align: center;
}
article.selectores label{
    box-sizing: content-box;
    width: calc(50% - 0px);
    margin: 5% auto;
    font-weight: bold;
    font-size: 30px;
}
article.selectores label:hover{
    color: red;
    cursor: pointer;
}
article.selectores select{
    box-sizing: content-box;
    width: calc(50% - 5px);
    margin: 5% auto;
    text-align: center;
    border: none;
    text-decoration: none;
    background-color: rgb(15, 15, 15);
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/* Series */
/* Game of Thrones */
main.fondo_serie .got{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/got_portada.jpg);
    width: 100%;
    height: 500px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* Game of Thrones */
/* Halo */
main.fondo_serie .halo{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_halo.jpg);
    width: 100%;
    height: 500px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* Halo */
/* What if */
main.fondo_serie .whatif{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_whatif.jpg);
    width: 100%;
    height: 500px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* What if */
/* Peaky Blinders  */
main.fondo_serie .peaky{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_peaky.jpg);
    width: 100%;
    height: 500px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* Peaky Blinders */
/* The Witcher */
main.fondo_serie .witcher{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_witcher.jpg);
    width: 100%;
    height: 500px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* The Witcher */
/* The Walking Dead */
main.fondo_serie .twd{
    background: linear-gradient(to top,rgb(15, 15, 15) 1%,rgba(115, 115, 115, 0)), url(../img/portada_twd.jpeg);
    width: 100%;
    height: 500px;
    border-radius: 2%;
    background-size: cover;
    background-position: top center;
    position: relative;
}
/* The Walknig Dead */